body {
  background: #ababab;
}

article {
  box-sizing: border-box;
  margin: 50px auto;
  padding: 75px 63px;
  width: 850px;
  height: 1100px;
  text-align: center;
  background: #fdf5e8; /* Duron Paperwhite */
  box-shadow: 0 5px 20px #000;
}

h1 {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
}

h3 {
  margin-bottom: 15px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  margin-bottom: 5px;
}

h4 span {
  display: inline-block;
  margin-left: 4px;
  font-weight: normal;
  font-style: italic;
}

p, li {
  line-height: 20px;
}

p span {
  font-style: italic;
}

ul {
  margin-top: 5px;
  padding-left: 25px;
}

section {
  margin-top: 40px;
  text-align: left;
}

h4:not(:first-of-type) {
  margin-top: 25px;
}

.skills {
  overflow: auto;
}

.skills li {
  width: 25%;
  float: left;
}

@media (max-width: 949px) {
  article {
    margin: 0;
    border: 5px solid #323232;
    padding: 50px 20px;
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  h4 span {
    display: block;
    margin: 5px 0 10px 0;
  }

  li {
    margin-bottom: 10px;
  }

  .skills li {
    width: 100%;
    float: none;
  }
}